<h1>管理画面：ユーザー一覧</h1>
<%= link_to '新規登録', new_admin_user_path, class:"btn btn-primary" %>
  <table class="table">
    <tr>
      <th>ユーザー名</th>
      <th>タスクの数</th>
      <th>管理者</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.task_ids.count %></td>
      <td><%= user.admin %></td>
      <td><%= link_to '詳細', user, class: "btn btn-info" %></td>
      <td><%= link_to '編集', edit_admin_user_path(user.id), class: "btn btn-success"  %></td>
      <td><%= link_to '削除', admin_user_path(user.id), method: :delete, class: "btn btn-danger", data: { confirm: '削除しますか？' } %></td>
    </tr>
  <% end %>
  </table>